@import "../../styles/_library";

.container-form {
  @include flexCenter();
  flex-direction: column;
  width: 100%;
  h1 {
    margin: 25px 5% 0;
    text-align: center;
    color: $pink;
  }
  form {
    @include flexCenter();
    width: 95%;
    margin: 50px 0;
    height: 40px;
    border-radius: 10px;
    label {
      width: 100%;
      height: inherit;
      max-width: 200px;
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
        height: inherit;
        max-width: 500px;
        border: 1px solid $lightGray;
        border-radius: 10px 0 0 10px;
        padding-left: 10px;
      }
      span {
        font-size: 14px;
        color: $red;
        margin-top: 40px;
        position: absolute;
      }
    }
  }
  button {
    @include flexCenter();
    height: inherit;
    width: 200px;
    background-color: $pink;
    border: none;
    font-size: 26px;
    font-weight: 600;
    color: $white;
    cursor: pointer;
    border-radius: 10px;
  }
  .complexRadius {
    border-radius: 0 10px 10px 0;
  }
}
